html {
    font-family: din-pro,sans-serif;
    font-size: 15px;
    font-weight: 400;
    scroll-behavior: smooth;

  }
  * {
    box-sizing: border-box;
  }

  body {
    background-color: rgb(45, 44, 42);
      color: white;
  }

  ul{
  list-style-type: none;
  }
  header {
    background-color: rgb(244, 206, 66);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }
  header a:link {
    color: black;
      text-decoration: none;
  }

  header a:visited {
    color: black;
    text-decoration: none;

  }
  header a:hover {
    text-decoration: none;
    color: black;
  }
  header a:active {
    color: black;
    text-decoration: none;
  }
  .about  {
      padding-left: 15%;
      padding-right: 15%;
      padding-top: 8%;
      padding-bottom: 15%;
  }
  /*
  #about {
    background-color: white;
    height: auto;
  }
  */

  /* FOOTER */

  .footer {
      background-color: rgb(244, 206, 66);
      padding-top: 20px;
      color: black;

  }
